// ./components/Navigation.scss
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #d0e0cb;
  color: #707070;
  position: relative;

  .logo {
    a {
      text-decoration: none;
      font-size: 1.5rem;
      color: #707070;
    }
  }

  .menu-toggle {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #707070;
    cursor: pointer;
    @media screen and (min-width: 800px) {
      display: none;
    }
  }

  .menu {
    display: flex;
    gap: 1rem;
    list-style: none;

    li {
      a {
        text-decoration: none;
        color: #707070;
        font-size: 1.1rem;
        transition: all 0.3s;

        &:hover {
          color: #000;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #333;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
      z-index: 1000;

      &.open {
        display: flex;
      }
    }
  }
}
