// src/pages/Auctions.scss
.auctions-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.auctions-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.auction-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
  button {
    width: 100%;
    border: none;
    border-top: 2px solid #5b8f5a;
    border-bottom: 2px solid #3c7a3b;
    outline: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 1.5rem;
    left: 0px;
    transition: background-color 0.3s ease;
    background-color: #d0e0cb;
    color: #3c7a3b;
    &:hover {
      background-color: #3c7a3b;
      color: #fff;
    }
  }
}

.auction-card img {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
}

.auction-card h3 {
  margin: 1rem 0;
}

.auction-card p {
  padding-bottom: 1.5rem;
}

div.auction__tag__container {
  display: flex;
  position: absolute;
  bottom: 3px;
  left: 3px;
  gap: 1rem;
}

.auction__tag {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #767676;
  user-select: none;
  cursor: pointer;
  transition: 0.2s transform ease;
}
.auction__tag::before {
  content: "#";
  color: #767676;
}

.auction__toolbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0.5rem;
  place-content: center;
  align-items: center;
  input {
    padding: 4px;
  }

  button {
    background-color: #d0e0cb;
    border: 2px solid #3c7a3b;
    outline: none;
    padding: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #3c7a3b;
      color: #d0e0cb;
    }
  }
}
